@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}
html,body{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;

}

body {
  background: rgb(255, 231, 162);
  background: radial-gradient(
    circle,
    rgba(255, 231, 162, 1) 0%,
    rgba(255, 201, 41, 1) 66%
  );
}

#ladki{
  filter: drop-shadow(2px 4px 20px black);
}
#home{
  background-image: url(../src/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cardbg{
  background: rgb(255, 231, 162);
  background: radial-gradient(
    circle,
    rgba(255, 231, 162, 1) 0%,
    rgba(255, 201, 41, 1) 66%
  );
}

.yellowbg{
 background-image: url(../src/assets/bg.jpg);
 background-repeat: no-repeat;
 background-size: cover;
background-attachment: fixed;
}

/* .testobg{
  background-image: url(https://img.freepik.com/free-vector/abstract-orange-light-background-atom-science-design-vector-illustration_1182-2378.jpg?t=st=1736089616~exp=1736093216~hmac=a266af7793c72c7cc75992c4667218530290765b681a3b84a7eb99761efbf076&w=1060);
  background-repeat: no-repeat;
  background-size: cover;
 background-attachment: fixed;
} */